@use '../base/breakpoints' as *;

.homepage {
	@include media('>=tablet') {
		display: grid;
		grid-template-columns: 125px repeat(4, 1fr) 125px;
		grid-template-rows: 650px 600px 600px 500px 500px;
	}

	@include media('>=laptop') {
		justify-items: center;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 650px 600px 600px 500px;
	}

	@include media('>=desktop') {
		grid-template-rows: 850px 800px 800px 600px;
	}

	&__createShare {
		&-img {
			background: linear-gradient(to top, black, white);

			@include media('>=tablet') {
				grid-column: 5 / -1;
				grid-row: 1/1;
			}

			@include media('>=laptop') {
				grid-column: 6 / -1;
				width: 100%;
			}

			img {
				@include media('>=tablet') {
					height: 100%;
				}
			}
		}

		&-content {
			position: relative;
			background: black;
			color: white;

			@include media('>=tablet') {
				grid-column: 1 / span 4;
				grid-row: 1/1;
			}

			@include media('>=laptop') {
				grid-column: 1 / span 5;
			}

			.decoration-hr {
				position: absolute;
				top: -1.3%;
				width: 35%;
				border: none;
				height: 0.375rem;
				background: linear-gradient(
					to top right,
					rgb(255, 197, 147),
					rgb(188, 113, 152),
					rgb(90, 119, 255)
				);

				@include media('>=tablet') {
					top: 50%;
					left: -32%;
					width: 65%;
					background: linear-gradient(
						to top left,
						rgb(255, 197, 147),
						rgb(188, 113, 152),
						rgb(90, 119, 255)
					);
					transform: rotate(90deg);
				}
			}
		}
	}

	&__beautifulStories {
		&-img {
			@include media('>=tablet') {
				grid-column: 1 / span 2;
				grid-row: 2/2;
			}

			@include media('>=laptop') {
				grid-column: 1 / span 7;
				width: 100%;
			}

			img {
				@include media('>=tablet') {
					height: 100%;
				}
			}
		}

		&-content {
			@include media('>=tablet') {
				grid-column: 3 / -1;
				grid-row: 2/2;
			}

			@include media('>=laptop') {
				grid-column: 1 / span 5;
			}

			@include media('>=laptop') {
				grid-column: 8 / -1;
			}
		}
	}

	&__designedForEveryone {
		&-img {
			@include media('>=tablet') {
				grid-column: 5 / -1;
				grid-row: 3/3;
			}

			@include media('>=laptop') {
				grid-column: 6 / -1;
				width: 100%;
			}

			img {
				@include media('>=tablet') {
					height: 100%;
				}
			}
		}

		&-content {
			@include media('>=tablet') {
				grid-column: 1 / span 4;
				grid-row: 3/3;
			}

			@include media('>=laptop') {
				grid-column: 1 / span 5;
			}
		}
	}

	&__createShare,
	&__beautifulStories,
	&__designedForEveryone {
		&-img {
			background: black;
			img {
				width: 100%;
			}
		}

		&-content {
			padding: 4rem 2rem 4.375rem;

			@include media('>=tablet') {
				display: grid;
				align-content: center;
				padding: 4rem 4rem 4.375rem;
			}

			@include media('>=laptop') {
				padding: 4rem 6rem 4.375rem;
			}

			@include media('>=desktop') {
				padding: 4rem 7rem 4.375rem;
			}

			&-header {
				margin-top: 0;
				text-transform: uppercase;
				font-size: 2rem;
				line-height: 2.5rem;
				letter-spacing: 0.21rem;

				@include media('>=tablet') {
					font-size: 2.5rem;
					line-height: 3rem;
					letter-spacing: 0.26rem;
				}

				@include media('>=desktop') {
					font-size: 4rem;
					line-height: 4.75rem;
				}
			}

			&-body {
				font-size: 0.9375rem;
				line-height: 1.5625rem;
				opacity: 0.6;

				@include media('>=desktop') {
					font-size: 1.25rem;
					line-height: 1.75rem;
				}
			}

			&-action {
				display: flex;
				align-items: center;
				margin-top: 1.5rem;
				gap: 1.25rem;

				p {
					margin: 0;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 0.75rem;
					line-height: 1rem;
					letter-spacing: 0.125rem;

					@include media('>=desktop') {
						font-size: 1rem;
					}
				}
			}
		}
	}

	&-story {
		&-1 {
			@include media('>=tablet') {
				grid-column: 1 / span 3;
				grid-row: 4/4;
			}

			@include media('>=laptop') {
				grid-column: 1 / span 3;
				width: 100%;
			}
		}

		&-2 {
			@include media('>=tablet') {
				grid-column: 4 / -1;
				grid-row: 4/4;
			}

			@include media('>=laptop') {
				grid-column: 4 / span 3;
				width: 100%;
			}
		}

		&-3 {
			@include media('>=tablet') {
				grid-column: 1 / span 3;
				grid-row: 5/5;
			}

			@include media('>=laptop') {
				grid-column: 7 / span 3;
				grid-row: 4/4;
				width: 100%;
			}
		}

		&-4 {
			@include media('>=tablet') {
				grid-column: 4 / -1;
				grid-row: 5/5;
			}

			@include media('>=laptop') {
				grid-column: 10 / span 3;
				grid-row: 4/4;
				width: 100%;
			}
		}
	}

	&-feature {
		&-1 {
			@include media('>=tablet') {
				grid-column: 1 / -1;
				grid-row: 7/7;
				justify-self: center;
				width: 75%;
			}

			@include media('>=laptop') {
				grid-column: 2 / span 3;
				grid-row: 7/7;
				margin-bottom: 4rem;
				width: 100%;
			}
		}

		&-2 {
			@include media('>=tablet') {
				grid-column: 1 / -1;
				grid-row: 8/8;
				justify-self: center;
				width: 75%;
			}

			@include media('>=laptop') {
				grid-column: 5 / span 3;
				grid-row: 7/7;
				align-items: end;
				margin-bottom: 4rem;
				width: 100%;
			}
		}

		&-3 {
			margin-bottom: 4rem;
			@include media('>=tablet') {
				grid-column: 1 / -1;
				grid-row: 9/9;
				justify-self: center;
				width: 75%;
			}

			@include media('>=laptop') {
				grid-column: 8 / span 3;
				grid-row: 7/7;
				width: 100%;
			}
		}
	}
}
