@use '../base/breakpoints' as *;

.beta {
	position: relative;
	margin-top: 4rem;
	background: linear-gradient(to top, black, white);

	@include media('>=tablet') {
		grid-column: 1/-1;
	}

	&-img {
		@include media('>=tablet') {
			border-left: 6px solid transparent;
			border-image: linear-gradient(
				to bottom right,
				rgb(90, 119, 255),
				rgb(188, 113, 152),
				rgb(255, 197, 147),
				rgb(255, 197, 147),
				rgb(255, 197, 147)
			);
			border-image-slice: 1;
		}

		img {
			width: 100%;
		}
	}

	&-content {
		position: absolute;
		top: 12%;
		padding: 0 2rem;
		color: white;
		z-index: 1;

		@media (min-width: 400px) {
			top: 15%;
		}

		@media (min-width: 440px) {
			top: 20%;
			padding: 0 4rem 0 2rem;
		}

		@media (min-width: 510px) {
			padding: 0 10rem 0 2rem;
		}

		@media (min-width: 560px) {
			padding: 0 12rem 0 2rem;
		}

		@media (min-width: 620px) {
			top: 30%;
			padding: 0 17rem 0 2rem;
		}

		@media (min-width: 670px) {
			top: 30%;
			padding: 0 20rem 0 2rem;
		}

		@media (min-width: 720px) {
			top: 30%;
			padding: 0 22rem 0 2rem;
		}

		@media (min-width: 767px) {
			top: 30%;
			padding: 0 26rem 0 2rem;
		}

		@include media('>=tablet') {
			top: 10%;
		}

		@include media('>=laptop') {
			margin-left: 5rem;
			width: 55%;
		}

		@include media('>=desktop') {
			top: 18%;
			width: 45%;
		}
	}

	&-header {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 2rem;
		line-height: 2.5rem;
		letter-spacing: 0.21rem;

		@include media('>=desktop') {
			font-size: 2.75rem;
			line-height: 3.25rem;
			letter-spacing: 0.25rem;
		}
	}

	&-action {
		display: flex;
		align-items: center;
		margin-top: 1.5rem;
		gap: 1.25rem;

		@include media('>=laptop') {
			position: absolute;
			top: 30%;
			left: 132.4%;
			width: 100%;
		}

		@include media('>=desktop') {
			left: 176%;
		}

		p {
			margin: 0;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 0.75rem;
			line-height: 1rem;
			letter-spacing: 0.125rem;

			@include media('>=desktop') {
				font-size: 1rem;
			}
		}
	}

	.decoration-hr {
		position: absolute;
		top: 0;
		left: 8.5%;
		width: 35%;
		height: 0.375rem;
		border: none;
		background: linear-gradient(
			to top right,
			rgb(255, 197, 147),
			rgb(188, 113, 152),
			rgb(90, 119, 255)
		);

		@include media('>=tablet') {
			display: none;
		}
	}
}
