@use '../base/breakpoints' as *;

.story {
	position: relative;
	z-index: 2;

	@include media('>=laptop') {
		transition: 0.15s ease-out;

		&:hover {
			transform: translate(0, -5%);
			border-bottom: 6px solid transparent;
			border-image: linear-gradient(
				to top left,
				rgb(255, 197, 147),
				rgb(188, 113, 152),
				rgb(90, 119, 255),
				rgb(90, 119, 255),
				rgb(90, 119, 255)
			);
			border-image-slice: 1;
		}
	}

	&__img {
		background-image: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.025) 0.27%,
			rgba(0, 0, 0, 0.7) 100%
		);
		height: 100%;

		img {
			opacity: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__content {
		position: absolute;
		top: calc(66% - 25px / 2 - 10.5px);
		width: 100%;
		padding: 0 2.25rem;
		color: white;
		z-index: 1;

		@include media('>=tablet') {
			top: calc(72% - 25px / 2 - 10.5px);
		}

		@include media('>=desktop') {
		}
	}

	&__header {
		&-date {
			font-size: 0.8125rem;
			margin-bottom: 0.25rem;

			@include media('>=desktop') {
				font-size: 1.1rem;
			}
		}

		&-name {
			font-size: 1.125rem;
			margin: 0;

			@include media('>=desktop') {
				font-size: 1.3rem;
			}
		}

		&-creator {
			margin: 0.25rem 0 1rem;
			font-size: 0.8125rem;

			@include media('>=desktop') {
				font-size: 1.1rem;
			}
		}
	}

	&__read-story {
		display: flex;
		justify-content: space-between;
		align-items: center;

		border-top: 1px solid rgb(255, 255, 255, 0.25);

		p {
			margin-top: 1rem;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 0.75rem;
			letter-spacing: 0.125rem;

			@include media('>=desktop') {
				font-size: 0.9rem;
			}
		}
	}
}
